html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 12pt;
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend,  object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, var {
    border: 0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 16pt;
    margin-bottom: 30px;
}

ul {
    padding-left: 0px;
}

li {
    list-style-type: none;
    padding-bottom: 5px;
}

a {
    color: #36c;
}

.content, .footer {
    margin: 10px;
}

table.tabs {
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

table.tabs thead {
    background-color: #eee;
}

table.tabs td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 20px;
}

table.tabs tr {
    border-bottom: 1px solid black;
}

.footer {
    margin-top: 100px;
    padding: 20px;
    border-top: 1px solid black;
    padding: 20px 40px;
    text-align: center;
    font-size: 15px;
}

.footer .powered-by {
    font-size: 13px
}

.footer a {
    color: #999;
}
